template(name="newTenant")
    #newTenant.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                    h4(class="modal-title" id="myModalLabel") Add a new tenant for this space
                .modal-body
                    p #{this.space._id}
                    +autoForm(collection="Tenants" id="insertTenantForm" type="insert" validation="blur")
                        fieldset
                            +afQuickField name="firstname"
                            +afQuickField name="lastname"
                            +afQuickField name="email"
                            +afQuickField name="address"
                            +afQuickField name="zip"
                            +afQuickField name="city"
                            +afQuickField name="rent"
                            +afQuickField name="costs"
                            +afQuickField name="entry_date" class="datepicker duration"
                            +afQuickField name="contract_duration" class="duration"
                            +afQuickField name="exit_date" class="datepicker"
                            +afQuickField name="contract_type" options="allowed"
                            if space_id
                                input(type="hidden" data-schema-key="space_id" name="space_id" value="#{space_id}")
                            else
                                .form-group
                                    label.control-label(for="space_id") Space
                                        select(name="space_id" required data-schema-key="space_id" class="form-control")
                                            option(value="") Select a building
                                            +each building_spaces
                                                option(value="{{_id}}") #{name}
                        button(type="submit" id="createTenant" class="btn btn-default") Submit



